<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Nickels and Dimes</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <p>
              <a href="/" class="navbar-brand">Nickels and Dimes Interval Timer</a>
            </p>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li id="about"><a href="/about">About</a></li>
            </ul>
        </div>
      </nav>
  </head>
