<%- include('partials/header'); -%>
    <h1>About "Nickels and Dimes"</h1>

<div class="container">
    <p> <%= aboutContent1 %> </p>

    <p> <%= aboutContent2 %> </p>
</div>

<%- include('partials/footer'); -%>
