<%- include('partials/header'); -%>

<div class="input">
  <input type="text" id="intervalTime" value="60" /> Seconds per Set Performed
  <button class="buttons" id="update">Update</button>
</div>

<h1 id="status">Set <span id="set#">1</span></h1>

<h2 id="seconds">60</h2>

<div class="buttons">
  <button id="start">Start</button>
  <button id="stop">Stop</button>
</div>

<%- include('partials/footer'); -%>
